@import url('http://fonts.cdnfonts.com/css/red-hat-display-2');
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: local('Red Hat Display'), url('/font/RedHatDisplayRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300;
    src: local('Red Hat Display'), url('/font/RedHatDisplayLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: local('Red Hat Display'), url('/font/RedHatDisplayMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    src: local('Red Hat Display'), url('/font/RedHatDisplaySemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: local('Red Hat Display'), url('/font/RedHatDisplayBold.ttf') format('truetype');
}

* {
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 2.rem;
    font-weight: 400;
    box-sizing: border-box;
}

/* html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
}

body {
    display: flex;
    flex-direction: column;
} */
/* 
header, main, div.sidebar {
    justify-content: flex-end;
} */

.copyright {
    background-color: #F7F7F7;
}

.fixed {
    flex: 0 0 250px;
    -ms-flex: 0 0 250px;
}

.text-main-green {
    color: #3A702F !important;
}

.text-main-gray {
    color: #312b29 !important;
}

.bg-main-gray, .content.grey {
    background-color: #312b29;
}

.img-profile {
    height: 1rem;
    width: 1rem;
    color: #312b29;
}

.profile-font {
    color: #312b29;
    font-size: 80%;
    font-weight: 700;
}

.card-header {
    background-color: #F7F7F7;
    border-bottom: 1px solid #e3e6f0;
}

li a.nav-link {
    color: white !important;
}
    li a.nav-link:hover {
        color: #3A702F !important;
        margin-left: 20px;
    }
    button.edit:hover .img-profile, 
    button.delete:hover .img-profile {
        color: white;
    }