@import url('http://fonts.cdnfonts.com/css/red-hat-display-2');
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: asset-url('/font/RedHatDisplayRegular.ttf');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300;
    src: local('Red Hat Display'), url('/font/RedHatDisplayLight.ttf') format('woff');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: local('Red Hat Display'), url('/font/RedHatDisplayMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    src: local('Red Hat Display'), url('/font/RedHatDisplaySemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: local('Red Hat Display'), url('/font/RedHatDisplayBold.ttf') format('truetype');
}

* {
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 2.rem;
    font-weight: 400;
}

.bg-secondary {
    background-color: #F7F7F7 !important;
}

.copyright {
    background-color: #F7F7F7;
}

.bg-primary {
    background-color: #3A702F !important;
}

nav {
    font-weight: 600;
}

img-card {
    height: 18vw;
    object-fit: cover;
}

h1.subtitle {
    letter-spacing: .2rem;
    font-weight: bold !important;
    font-size: 2rem;
}

.text-main-green {
    color: #3A702F !important;
}

.text-main-gray {
    color: #312b29 !important;
}

a.nav-link {
    font-weight: 800;
}

a.link-green {
    color: #3A702F !important;
}
    a.link-green:hover {
        color: #312b29 !important;
        text-decoration: underline #312b29 3px;
        text-underline-offset: .8rem;
    }

a.link-gray {
    color: #312b29 !important;
}
    a.link-gray:hover {
        color: #3A702F !important;
        text-decoration: underline #312b29 3px;
        text-underline-offset: .8rem;
    }

a.product-name {
    color: #312b29;
    font-weight: 400;
    text-decoration: none;
}
    a.product-name:hover {
        color:#3A702F;
        text-decoration: none;
        font-weight: 700;
    }
